<h1>Questions & Answers</h1>

<div class="centered">
  <form id = "login_form" action = "/login" method = "post">
    <label for = "user">User:</label>
    <input type = "text" name = "user" placeholder = "example@ex.com" class = "input">
    <br><br>
    <label for = "pwd">Password:</label>
    <input type = "password" name = "pwd" placeholder = "**********" class = "input">
    <br><br>
    <input type = "submit" value = "Log in!">
  </form>
  <br>
  <div id="result"></div>

</div>

<br>
<a class="button" href = "/register">New user? Click here.</a>
  

  
