<h1>Sign Up!</h1>

<div class="centered">
  <form id = "register_form" action = "/save_user" method = "post">
    <label for = "name">Name:</label>
    <input type = "text" name = "name" placeholder = "Introduce your name" class = "input" required>
    <br><br>
    <label for = "email">Email:</label>
    <input type = "email" name = "email" placeholder = "Introduce your Email" required>
    <br><br>
    <label for = "pwd1">Password:</label>
    <input type = "password" name = "pwd1" placeholder = "**********" class = "input" required>
    <br><br>
    <label for = "pwd2">Confirm your password:</label>
    <input type = "password" name = "pwd2" placeholder = "**********" class = "input" required>
    <br><br>
    <input type = "submit" value = "Sign up!">
  </form>
</div>

<br>

<div id = "result"></div>