<h1>Questions & Answers - Users</h1>

<br><br>
<div class="centered">
<% @users_list.each do |u| %>
  <h3><a href="/profile/<%= u.id %>"><%= u.name %> </a></h3>
<% end %>
</div>

<br><br>
<a class="button" href="/feed">Home</a>
<a class="button" href="/logout">Log out.</a>